MODE=DEV
LOG_LEVEL=INFO

DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=booking_app

TEST_DB_HOST=db
TEST_DB_PORT=5432
TEST_DB_USER=postgres
TEST_DB_PASS=postgres
TEST_DB_NAME=test_booking_app

POSTGRES_DB=booking_app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

SECRET_KEY=change_me
ALGORITHM=HS256

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=your_email@gmail.com
SMTP_PASSWORD=your_app_password_here

REDIS_HOST=redis
REDIS_PORT=6379
